<!DOCTYPE html>
<html>
<head>
  <title>SE315Assignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">


<div id="header">
  <div id="logo"><%= image_tag("maf_logo.png") %></div>


</div>

<div id="navigation">
  <div id="navigation_content">
    <div id="buttons">
      <ul>
        <li><a href= <%= store_path %> >Home</a></li>
        <li><a href= <%= wines_path %>>Browse shop</a></li>
      </ul>
    </div>
    <div id='userinfo'>
      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
          Welcome Guest,
          <%= link_to 'Sign up', new_user_registration_path %> |
          <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>

<div id="main_content">
  <p class="notice"><%= notice %></p>
  <%= yield %></div>


</body>
</html>
